<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/representiveRegister" method="post" class="sign-up-form">
      <h2 class="title">Sign up</h2>
      <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Email" name="email" />
      </div>
      <div class="input-field">
        <label for="role">Choose a role</label>
        <select name="role">
          <option value="Student">Student</option>
          <option value="Teacher">Teacher</option>
        </select>
      </div>
      <input type="submit" class="btn" value="Sign up" />
  </body>
</html>
