<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Poll</h1>
    <form class="" action="/pollForm" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="pollTopic">

        <label>Option1</label>
        <input class="form-control" type="text" name="pollOption1">

        <label>Option2</label>
        <input class="form-control" type="text" name="pollOption2">

        <label>Option3</label>
        <input class="form-control" type="text" name="pollOption3">

        <label>Option4</label>
        <input class="form-control" type="text" name="pollOption4">

      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
  </body>
</html>
