<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Previous Events</title>
    <link rel="stylesheet" href="/css/previousEvent.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

      <header class="header">
        <div class="img-wrapper">
          <img src="images/bg1.jpg" />
        </div>
        <div class="banner">
          <h1>Past Events </h1>
          <p>If coming events are said to cast their shadows before, past events cannot fall to leave their impress behind them.</p>
          <button>Discover now</button>
        </div>
      </header>

      <section class="Previous_Events">
        <div class="section-header">
          <h1 class="section-heading">Previous Events</h1>
          <div class="underline"></div>
        </div>
        <div class="services">
          <div class="service">
            <div class="service-header">
              <i class="fas fa-pen-nib"></i>
              <h3>State Level Project Competition</h3>
            </div>
            <p class="service-text">
              The Event objective is to explore research orientation and the untapped potential of students
               and to motivate innovative scientific talents and capacities of students.
               This  an excellent opportunity for students to apply their
               innovation to real-world challenges.
            </p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-paint-roller"></i>
              <h3>Wall Magzine</h3>
            </div>
            <p class="service-text">
              Wall magazines are a medium within the  institutions for the students to express their creativity.
              It can also be utilized as a medium to increase interaction between students by having regular fortnight quizzes,
               so making it widely known.
            </p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-pencil-alt"></i>
              <h3>TechnoFun Games</h3>

            </div>
            <p class="service-text">
              Fun games can be organised by college during the cultural fest.
              Also, these games were be more entertaining. These can be fun
              as well as entertaining where the students can compete with each other as a group or individuals.
               Games like debug the small code, create short game, shooting the target, musical chairs can be fun.

            </p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-paint-brush"></i>
              <h3>IT Quiz</h3>

            </div>
            <p class="service-text">
            We Arranged IT Quiz  for students to increase their
             technical knowledge. Here also the several colleges and
             institutions can come and form a team and compete with each other.
            Our mentor will prepare a set of questions for the participants and
            the participants of the team with the highest score can be the winner.

            </p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-ruler-combined"></i>
              <h3>Cultural Competition</h3>
            </div>
            <p class="service-text">
              For the young generations who have the talent and special skills.
            We arranged The cultural competition for solo and group, or can be western
             and classical or can be folk or modern in case of singing and dancing.
              There can be also a separate section of musical instrument playing and
              also for DJ competition and rap making.
            </p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="far fa-building"></i>
              <h3>Fashion Show</h3>
            </div>
            <p class="service-text">
              The fashion show is our most popular college event especially arranged by Dress Desining
              and Manafaturating feild  not only for the aspirant designer or the model but for anyone
               who has an interest in this field .This can be innovative like including themed fashion or include makeup and
            nail Art along with with fashion show as nowadays these are emerging industry.

            </p>
          </div>
          <div class="about-us-img-wrapper">
            <img src="images/previous.png"/>
          </div>
        </div>
      </section>

      <section class="winners">
        <div class="section-header">
          <h1 class="section-heading">Winners</h1>
          <div class="underline"></div>
        </div>
        <div class="cards-wrapper">
          <div class="card" data-tilt>
            <div class="card-img-wrapper">
              <img src="images/person-1.jpg" alt="CEO" />
            </div>
            <div class="card-info">
              <h2>John Smith</h2>
              <h3>CEO</h3>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, impedit!"
              </p>
              <button>Read More</button>
            </div>
          </div>
          <div class="card" data-tilt>
            <div class="card-img-wrapper">
              <img src="images/person-2.jpg" alt="Designer" />
            </div>
            <div class="card-info">
              <h2>Ann Brown</h2>
              <h3>Designer</h3>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, impedit!"
              </p>
              <button>Read More</button>
            </div>
          </div>
        
          <div class="card" data-tilt>
            <div class="card-img-wrapper">
              <img src="images/person-3.jpg" alt="Architect" />
            </div>
            <div class="card-info">
              <h2>Mary Doe</h2>
              <h3>Architect</h3>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, impedit!"
              </p>
              <button>Read More</button>
            </div>
          </div>
        </div>
      </section>

    <section class="comming_soon">
      <div class="section-header">
        <h1 class="section-heading">Our Plans... For You...</h1>
        <div class="underline"></div>
      </div>

      <div class="video-wrapper">
  <video playsinline autoplay muted loop poster="cake.jpg">
    <source src="images/back.mp4" type="video/webm">

  </video>
  <button class="btn">Intrested</button>
   </div>
  </div>
      </section>
      <a href="#" class="scroll-btn">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <script src="/script/previousEvent.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script src="tilt.js"></script>
  </body>
</html>
