<%- include("partials/header"); -%>
<body>
<form class="" action="/UploadMedia" method="post" enctype="multipart/form-data">
  <input type="file" name="medias" id="formFile" multiple>
  <button type="submit" class="btn btn-warning" name="button" value="Upload Media">Upload</button>

</form>
<%- include("partials/footer"); -%>
